<h1>Product Details</h1>
<link rel=" stylesheet" href="~/css/productdetails.css" />


<section>
    <div class="productDetailspanel">
        <div class="productImagepanel">
            <img src="~/images/products/g1.jpg" />
        </div>
        <div class="productSpecpanel">
            <h1>Details</h1>
            <div class="productSpecifications">

                <ul class="detailsPanel">
                    <li class="oddPanel">
                        <Label>Title</Label>
                        <p>
                            <span>ABC</span>
                        </p>
                    </li>
                    <li class="">
                        <Label>Description</Label>
                        <p>
                            <span>ABC</span>
                        </p>
                    </li>
                    <li class="oddPanel">
                        <Label>Price</Label>
                        <p>
                            <span>ABC</span>
                        </p>
                    </li>
                    <li class="oddPanel">
                        <Label>Category</Label>
                        <p>
                            <span>ABC</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>






    <div class="productcartPanel">
        <div class="addcartItem">
            <a style={{ cursor: "pointer" }}
              
                class="addcartItemsignpminus"
                >
                -
            </a>
            <div class="addCartnumber">
                <span>2</span>
            </div>
            <a style={{ cursor: "pointer" }}
               
                
                class="addcartItemsignpplus"
                >
                +
            </a>
        </div>
        <div>
            <a class="addtocart"
                  onClick={this._onAddToCartClick}
            <span>
                @*<IconButton iconProps={{ iconName: "ShoppingCartSolid" }} />*@
            </span>
            Add to Cart
            </a>
        </div>
    </div>

</section>