@model IEnumerable<ProjectECommerce.Models.DB.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-left" style="font-weight:bold">
        Products List
    </div>
    <div class="row">
        @if (Model.Count() > 0)
        {
            foreach (var prodList in Model)
            {
                <div class="col-sm-3 hoverEffect" style="margin-bottom:5px;padding:5px;">
                    <div id="cartClick" title="Alcohol Swap 30 x 60MM 2 Ply " value="108" class="itemDiv">
                        <img src="@prodList.ImagePath" class="img-responsive productImg">
                        <h4 class="titleEnglish">@prodList.Name</h4>
                        <h5 class="description">@prodList.Description </h5>
                    </div>
                    <div class="divCart">
                        <span>
                            <a style="cursor:pointer;text-align:left" id="idAddToCart" itemcat="Medical" supplies="">
                                <img src="~/Images/cartImg.png">
                            </a>
                            <p class="priceCls" style="text-align:right"> <span style="font-size:12px;">Inclusive Of VAT</span> Rs @prodList.Price</p>
                        </span>
                    </div>
                </div>
            }
        }
        else
        {
            <h1>No product found</h1>
        }
    </div>

</div>
<link href="~/css/homePage.css" rel="stylesheet" />