.itemDiv {
    border: 1px solid #e1e3f0;
    padding: 15px;
    border-radius: 2px;
    cursor: pointer;
}

.hoverEffect:hover {
    transform: scale(1.03);
}

.divCart {
    border: 1px solid #e1e3f0;
    border-top: 0px;
}

.headCatEng {
    font-size: 14pt;
}

.headCatArabic {
    font-size: 17pt;
}

.titleEnglish {
    margin: 5px 0px;
    max-height: 30px;
    min-height: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: rgb(0, 112, 192);
}

.priceCls {
    color: rgb(115, 115, 115);
    float: right;
    padding: 5px;
    font-size: large;
    font-weight: 400;
}

.titleArabic {
    margin: 5px 0px;
    max-height: 20px;
    min-height: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: rgb(0, 112, 192);
}

.description {
    margin: 5px 0px;
    /*color: #adadad;*/
    color: rgb(115, 115, 115);
    font-size: 12px;
    max-height: 28px;
    min-height: 28px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.arabicDescription {
    margin: 5px 0px;
    max-height: 28px;
    min-height: 28px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: rgb(115, 115, 115);
}

.productImg {
    min-height: 150px;
    max-height: 150px;
    padding: 0px 15%;
    width: 100%;
    text-align: center
}

.baseDiv {
    padding: 0px 40px;
}

.removeMarginRow {
    margin-left: 0px;
    margin-right: 0px;
}

.profileDiv {
    padding: 20px;
}

.divColSmMar {
    margin-bottom: 30px;
}

.divColSmPadd {
    padding-top: 30px;
}

@media(max-width:767px) {
    .itemDiv {
        border: 1px solid #e1e3f0;
        padding: 5px;
        border-radius: 2px;
        cursor: pointer;
    }

    .titleEnglish {
        margin: 5px;
        max-height: 19px;
        min-height: 19px;
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
        color: #a1926c;
    }

    .titleArabic {
        margin: 5px;
        max-height: 19px;
        min-height: 19px;
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .description {
        margin: 5px 0px;
        max-height: 28px;
        min-height: 28px;
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .arabicDescription {
        margin: 5px;
        max-height: 28px;
        min-height: 28px;
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .productImg {
        min-height: 150px;
        max-height: 150px;
        padding: 0px 20%;
        text-align: center;
    }

    .baseDiv {
        padding: 0px 20px;
    }

    .hoverEffect:hover {
        transform: scale(1.01);
    }

    .cartItemDiv {
        padding: 0px;
    }

    .profileDiv {
        padding: 0px;
    }

    .divColSm {
        padding: 1px;
    }

    .divColSmMar {
        padding: 0px;
        margin-bottom: 5px;
    }

    .divColSmPadd {
        padding: 5px 2px 0px 2px;
    }
}
